<div ng-include="'components/navbar/navbar.html'"></div>

<page-header></page-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div><input type="text" class="form-control" disabled ng-model="url"></div>
      <h1 class="page-header">{{ myPoll[0].name }}</h1>
      <div ng-hide="myPoll[0].voters_ip.indexOf(myIp) >= 0">
        <div ng-repeat="(answer, votes) in myPoll[0].answers">
          <span>{{ answer }} - {{ votes }}</span>
          <button type="button" ng-click="voteFor(answer)">wqdqwdqwd</button>
          {{ test }}
        </div>
        <form class="new-poll-form" novalidate name="myForm">
          <label>Add new answer to this poll</label>
          <div ng-show="mainErrorMessage">{{ mainErrorMessage }}</div>
          <div class="form-group">
            <input required type="text" class="form-control" placeholder="New Answer" ng-model="newAnswer">
          </div>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addAnswerToPoll()">Add New</button>
          </span>
        </form>
      </div>

      <div ng-show="myPoll[0].voters_ip.indexOf(myIp) >= 0">
        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="pollData" chart-labels="pollLabels" chart-legend="true">
        </canvas>
      </div>
    </div>
  </div>
</div>


<page-footer></page-footer>
